/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/04/2014, 16:33:48
    Author     : marcelo
*/
.ui-panelgrid td, .ui-panelgrid tr{
    /*border: none;*/
}
.gridComBorda .ui-panelgrid td{
    border: 1px !important;
}
.gridComBorda .ui-panelgrid tr{
    border: 1px !important;
}
td{
    vertical-align: top;
}
.cssPainel .ui-layout-unit-content{
    background-color: aquamarine !important;
}
.ui-layout-unit-content{
    font-size: 10px !important;
    padding: 0px !important;
}
.ui-layout-resizer{
    background-color: #0099ff !important;
}
.ui-layout-unit{
    border: none !important;
}
.ui-layout-toggler{
    background-color: black !important;
}
body{
    
}
.tituloSecao{
    font-size: 14px;
    font-weight: bold;
}
.ui-layout-unit-header-title{
    font-size: 14px;
}

.labelTxt{
    display: block !important;
    font-weight: bold;
}
.cssPnlCentral .ui-layout-unit-content{
    background-color: #ccffff;
}
.ui-widget-content .ui-panelgrid-even{
    background-color: #ccffff;
}
.ui-widget-content .ui-panelgrid-odd{
    background-color: #ccffff;
}

button{
    margin: 10px !important;
}