/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/04/2014, 16:33:48
    Author     : marcelo
*/
.ui-panelgrid td{
    border-width: 2px;
    border-color: #0099ff;
}
.ui-panelgrid tr{
    border-width: 2px;
    border-color: #0099ff;
}
.gridSemBorda td{
    border: none !important;
}
.gridSemBorda tr{
    border: none !important;
}
td{
    vertical-align: top;
}
.cssPainel .ui-layout-unit-content{
    background-color: #006699 !important;
}
.ui-layout-unit-content{
    font-size: 10px !important;
    padding: 0px !important;
}
.ui-layout-resizer{
    background-color: #0099ff !important;
}
.ui-layout-unit{
    border: none;
}
img{
    margin-top: 5px;
}
body{
    
}
.tituloSecao{
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.ui-layout-unit-header-title{
    font-size: 14px;
}

.labelTxt{
    display: block !important;
    font-weight: bold;
    font-size: 12px !important;
}
.cssPnlCentral .ui-layout-unit-content{
    background-color: #99ccff;
}
.ui-widget-content .ui-panelgrid-even{
    background-color: #99ccff;
}
.ui-widget-content .ui-panelgrid-odd{
    background-color: #99ccff;
}
.ui-menuitem{
    background-color: #99ccff;
}
.ui-separator{
    border-color: #0099ff !important;
}
button{
    margin: 10px !important;
}
.unresizable{
    resize: none !important;
}